<!DOCTYPE html>
<html lang="en">

<head>
  <title>Khoa Pham WebRTC</title>
</head>

<body>
  <h1>Khoa Pham Training</h1>
  <video id="localStream" width="300" controls></video>
  <br />
  <br />
  <video id="friendStream" width="300" controls></video>
  <br />
  <br />
  <label>My Connection Token</label>
  <br />
  <br />
  <textarea rows="3" cols="100" id="txtMySignal"></textarea>
  <br />
  <br />
  <input type="text" placeholder="Your friend's signal" id="txtFriendSignal">
  <br />
  <br />
  <button id="btnConnect">Connect</button>
</body>
<script src="./public/bundle.js"></script>

</html>