<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Demo web RTC</h1>
  <video id="local" controls></video>
  <br></br>
  <label for="">My token</label>
  <textarea id="my_signal" cols="100" rows="3"></textarea>
  <br></br>
  <input type="text" name="" id="my_friend_token" placeholder="connect to friend">
  <button id="connect_to">connect</button>
  <video id="friend_steam" controls></video>
  
  <script src="./public/bundle.js"></script>
</body>

</html>